<router-outlet />

<h1>Jacob (Israel)</h1>

<h2>Leah 1st wife</h2>
<ol>
  <li>Reuben 1st son</li>
  <li>Simeon 2nd son</li>
  <li>Levi 3rd son</li>
  <li>Judah 4th son</li>
  <li>Issachar 9th son</li>
  <li>Zebulon 10th son</li>
  <li>Dina 1st daughter</li>
</ol>

<h2>Rachel 2nd wife</h2>
<ol>
  <li>Joseph 11th son</li>
  <li>Benjamin 12 son</li>
</ol>

<h2>Bilhah 3rd wife (Rachel's handmaid)</h2>
<ol>
  <li>Dan 5th son</li>
  <li>Naphtali 6th son</li>
</ol>

<h2>Zilpah 4th wife (Leah's handmaid)</h2>
<ol>
  <li>Gad 7th son</li>
  <li>Asher 8th son</li>
</ol>
