<router-outlet />

<section>
  <h1>Jacob &#40;Israel&#41;</h1>
    <h2>Leah 1st wife</h2>
      <ol>
        <li>Reuben 1st child 1st son</li>
        <li>Simeon 2nd child 2nd son</li>
        <li>Levi 3rd child 3rd son</li>
        <li>Judah 4th child 4th son</li>
        <li>Issachar 9th child 9th son</li>
        <li>Zebulon 10th child 10th son</li>
        <li>Dinah 11th child 1st daughter</li>
      </ol>
    <h2>Rachel 2nd wife</h2>
      <ol>
        <li>Joseph 12th child 11th son</li>
        <li>Benjamin 13th child 12th son</li>
      </ol>
    <h2>Bilhah 3rd wife &#40;Rachel&#39;s handmaid&#41;</h2>
      <ol>
        <li>Dan 5th child 5th son</li>
        <li>Naphtali 6th child 6th son</li>
      </ol>
    <h2>Zilpah 4th wife &#40;Leah&#39;s handmaid&#41;</h2>
      <ol>
        <li>Gad 7th child 7th son</li>
        <li>Asher 8th child 8th son</li>
      </ol>
</section>
